/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src:url("assets/fonts/AvantGardeStd-BoldCn.otf");
	fontFamily:"AVGardeB";
}
@font-face {
	src:url("assets/fonts/AvantGardeStd-MdCn.otf");
	fontFamily:"AVGarde";
}
@font-face {
	src:url("assets/fonts/HelveticaLTStdCond.otf");
	fontFamily:"HelvCond";
}
@font-face {
	src:url("assets/fonts/HelveticaLTStdLight.otf");
	fontFamily:"HelvLight";
}
@font-face {
	src:url("assets/fonts/HelveticaLTStdBold.otf");
	fontFamily:"Helv";
}
@font-face {
	src:url("assets/fonts/HelveticaLTStdBold.otf");
	fontFamily:"Helv";
	fontWeight:bold;
}
@font-face {
	src:url("assets/fonts/HelveticaLTStdBold.otf");
	fontFamily:"Helv";
	fontWeight:italic;
}
@font-face {
	src:url("assets/fonts/HelveticaLTStdRoman.otf");
	fontFamily:"HelvRoman";
}


.Helv{
	font-family:"Helv";	
}
.HelvLight{
	font-family:"HelvLight";	
}
.HelvRoman{
	font-family:"HelvRoman";	
}
.AVGarde{
	font-family:"AVGarde";	
}

.H2 
{
	font-family:"Helv";
	fontSize:18px;
	
}

.H1
{
	fontSize:34px;
	font-family:"HelvLight";
	color:#666666;
}
.simpleTextInput{
	fontSize:14;	
}

s|SkinnableTextBase:normalWithPrompt{
	fontStyle:normal;
	borderColor:#dcdcdc;
	focusAlpha:0;
}



