/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src:url("assets/fonts/FuturaStd-Condensed.otf");
	fontFamily:"Futura";
}
/*
@font-face{
	src:url("assets/fonts/FrutigerLTStd-Bold.otf");
	fontFamilty:"FrutigerBold";
}
 
@font-face{
	src:url("assets/fonts/FrutigerLTStd-BoldCn.otf");
	fontFamilty:"FrutigerBoldCond";
}
*/

global
{
	font-family: "Arial";
	color:#151517;
	/*	typographicCase:uppercase;*/
}
/*
.frutiger 
{
	font-family:"FrutigerBold";
	
}

.frutigerCond
{
	font-family:"FrutigerBoldCond";
	
}

*/