/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face {
	src:url("assets/fonts/AvantGardeStd-BoldCn.otf");
	fontFamily:"AVGardeB";
}
@font-face {
	src:url("assets/fonts/AvantGardeStd-MdCn.otf");
	fontFamily:"AVGarde";
}
@font-face {
	src:url("assets/fonts/HelveticaLTStdCond.otf");
	fontFamily:"Helv";
}
global
{
	font-family: "Helv";
	color:#151517;
	/*	typographicCase:uppercase;*/
}

.Helv{
	font-family:"Helv";	
}
.AVGarde{
	font-family:"AVGarde";	
}

.H2 
{
	font-family:"AVGarde";
	fontSize:20;
	
}

.H1
{
	font-family:"AVGardeB";
	
}

.lightGray{
	color:#75757d;	
}

.Gray{
	color:#606060;	
}


